@import "typography/typography";

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("../assets/images/file.png");
}

.picture {
    width: 1000px;
    height: 1000px;
    background-image: url("../assets/images/1000x1000.jpg");
}
